<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head th:insert="general.html::head"></head>

<body style="height: 100%">
<div class="container-fluid h-100 no-margin">
    <div th:insert="general.html::navbar"></div>

    <div class="row h-100">
        <div class="col-8" style="height: 100%">
            <div class="vh-100 d-flex justify-content-center align-items-center">
                <h1>Welcome to MyOnlineMarketplace</h1>
            </div>
        </div>
        <div class="col-4 text-center align-self-center" style="background: #c8d8e4; height: 100%">
                <div style="margin-top: 25%; margin-bottom: 75px">
                    <img src="https://www.shutterstock.com/image-photo/happy-senior-man-giving-thumb-260nw-73143208.jpg" style="width: auto; max-height: 30%"/>
                </div>
                <p1>A respectable gentleman happily selling his items through</p1>
                <h1>My Online Marketplace</h1>
        </div>
    </div>
</div>
</body>
</html>
